/* ini css */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url(https://i.pinimg.com/736x/dc/3e/ca/dc3eca47b72a520e84264210cdf0b90e.jpg);
    background-size: contain;
}

nav {
    display: flex;
}

.left-rounded {
    border-radius: 7px 0 0 7px;
}

.right-rounded {
    border-radius: 0 7px 7px 0;
}

nav>a {
    border: 1px solid;
    padding: 8px;
    color: black;
    text-decoration: none;
    background-color:rgb(214, 122, 79);
}

.banner-image {
    height: 675px;
    background-image: url(https://i.pinimg.com/736x/5e/4c/3d/5e4c3d88ed8b22b28209a28190bad05d.jpg);
    background-size: cover;
    background-position: center;
}

.first-content {
    height: 50px;
}

.content {
    height: 400px;
}

.copyright {
    display: flex;
    justify-content: center;
}

.locations {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    margin-top: 20px;
}

.location {
    text-align: center;
}

.location img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #000;
}